<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Eventos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item-sliding #slidingEvento *ngFor="let e of eventos">
      <ion-item (click)="selecionaEvento(e.id)">
        <h2>{{ e.nome }}</h2>
        <div class="containerIntro">
            <h3>Data:</h3> <p>{{ e.data | date: 'dd/MM/yyyy' }}</p>
        </div>
        <div class="containerIntro">
            <h3>Local:</h3> <p>{{ e.local }}</p>
        </div>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="editaEvento(e.id, slidingEvento)">
          <ion-icon name="create"></ion-icon>
          Editar
        </button>
        <button ion-button color="danger" (click)="deletaEvento(e.id)">
          <ion-icon name="trash"></ion-icon>
          Deletar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  
  <ion-card class="empty" *ngIf="eventos === undefined || eventos.length == 0">
    <ion-card-content>
      <p>A lista de eventos está vazia.</p>
    </ion-card-content>
  </ion-card>

  <ion-fab bottom right>
    <button ion-fab (click)="novoEvento()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
